{% extends 'base.html.twig' %}

{% block body %}

	<!-- Header -->
	

      <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                   {# <h2 class="text-secondary mt-5 mb-5">Bienvenue!</h2> #}
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">La BD</div>
                                    <p class="mb-0">Princesse grognon a enfin sa propre petite BD! C'est pas chouette ça?</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/mac.jpg') }}" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">Goodies</div>
                                    <p class="mb-0">Mugs, porte-clés, badges, illustrations. Tu peux commencer ta collection!</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/mac.jpg') }}" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">L'artiste</div>
                                    <p class="mb-0">Viens voir les autres projets de la créatrice de Princesse grognon/p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/mac.jpg') }}" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h1">Contact</div>
                                    <p class="mb-0">Tu peux laisser un petit mot doux ou une requête à cet endroit</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/mac.jpg') }}" alt="..." />
                        </a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{#<img class="img-fluid" src="{{ asset('build/user-1.jpg') }}" alt="..." />#}